<!DOCTYPE html>
<html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/infopage.css"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Bitniquel Wallet</title>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper pink darken-2">
                <a href="#" class="brand-logo center">Bitniquel</a>
            </div>
        </nav>
        <div class="conatiner">
            <div class="row">
                <div class="col s1 m4">
                </div>
                <div class="col s10 m4">
                    <div class="card horizontal" id="infoCard">
                        <div class="card-image">
                            <img src="images/em_construcao.jpg">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <p><b>Em desenvolvimento</b></p>
                                <p>Esta página ainda esta em desenvolvimento. <br/>Em breve você poderá gerenciar seus biticoins de forma simples.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s1 m4">
                </div>
            </div>
        </div>
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>
</html>